*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}

.logo img {
  width: 150px;
}

.nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-in-out;
}

.nav-list li:hover a {
  background-color: #425c77;
  color: white;
}

main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
}

.content-description {
  flex: 1 1;
}

.content-description .title {
  margin-block: 1rem;
  font-size: 3.5rem;
}

.content-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.content-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1rem;
  background-color: #2d3e50;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.content-description button:hover {
  background-color: transparent;
  color: #2d3e50;
  border: 3px solid #2d3e50;
}

.content-image {
  flex: 1 1;
  display: flex;
}

.content-image img {
  width: 300px;
  min-width: 250px;
  margin: auto;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

.social-media {
  height: 100%;
  display: flex;
}

.social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: #2d3e50;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.social-media li {
  list-style-type: none;
}

.social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;

  transition: all 0.1s ease-in-out;
}

.social-media li a:hover {
  color: #89b0d9;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
  main {
    padding: 1rem 3rem;
  }
  main .content {
    flex-direction: column;
    gap: 2rem;
  }
  main .content .content-description .title {
    font-size: 3rem;
  }
  main .content .content-description p {
    font-size: 1rem;
  }
  main .content .content-image {
    order: -1;
  }
}
